.cartaPregunta{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    height: 200px;
    top: 65%;
    left: 10%; 
}