.cartaPregunta{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.137);
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px 15px 5px;
    width: 400px;
    height: auto;
    top: 50%;
    left: 5%; 
}