#root {
  margin: 0 auto ;
  
}

.DivRollDice{

  
  margin-left: 5%;
  display: flex;
  text-align: center;
  margin-top: 150px;
  justify-content: center;
  
}

.DivMatrix{

  
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 1000px;
  height: auto;


}

.PrincipalDiv{

  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  
}
